//
// VARIABLES for SASS/COMPASS
// =============================================================================

@import 'compass';
@import 'config.colors';
@import 'config.breakpoints';
@import 'breakpoint';

// -----------------------------------------------------------------------------
// Debugging
// -----------------------------------------------------------------------------

$debug: true;

// -----------------------------------------------------------------------------
// Browser support
// -----------------------------------------------------------------------------

$legacy-support-for-ie:   false;
$legacy-support-for-ie6:  false;
$legacy-support-for-ie7:  false;
$legacy-support-for-ie8:  false;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$base-font-size:    16px;
$base-line-height:  24px;

// -----------------------------------------------------------------------------
// Functional color variables
// -----------------------------------------------------------------------------

$base-background-color: $white;

// -----------------------------------------------------------------------------
// Drupal elements
// -----------------------------------------------------------------------------

// Tabs
$tab-primary-bgcolor-active:   nth($grays, 5);
$tab-primary-color-active:     $white;
$tab-primary-bgcolor-hover:    nth($grays, 3);
$tab-primary-color-hover:      $black;
$tab-primary-bgcolor-default:  nth($grays, 1);
$tab-primary-color-default:    $black;
$tab-primary-border-radius:  5px;

$tab-secondary-bgcolor-active:    nth($grays, 5);
$tab-secondary-color-active:      $white;
$tab-secondary-bgcolor-hover:     nth($grays, 3);
$tab-secondary-color-hover:       $black;
$tab-secondary-bgcolor-default:   nth($grays, 1);
$tab-secondary-color-default:     $black;
$tab-secondary-border-radius:   $tab-primary-border-radius;

// Messages
$message-border-style:        1px dashed;
$message-border-radius:       8px;
$message-status-bgcolor:      #f8fff0;
$message-status-bordercolor:  #be7;
$message-status-color:        #234600;
$message-warning-bgcolor:     #fffce5;
$message-warning-bordercolor: #ed5;
$message-warning-color:       #840;
$message-error-bgcolor:       #fef5f1;
$message-error-bordercolor:   #ed541d;
$message-error-color:         #8c2e0b;
