//
// Color definitions
// =============================================================================

// -----------------------------------------------------------------------------
// Basic colors
// -----------------------------------------------------------------------------

$black: #000;
$white: #fff;

// Shades of gray (not the book, just the colors)
// http://en.wikipedia.org/wiki/Shades_of_gray
$grays: #DCDCDC #D3D3D3 #C0C0C0 #BEBEBE #A9A9A9 #808080 #696969 #555555 #343434;

$gainsboro:       #DCDCDC;
$lightgray:       #D3D3D3;
$silver:          #C0C0C0;
$mediumgray:      #BEBEBE;
$darkgray:        #A9A9A9;
$gray:            #808080;
$dimgray:         #696969;
$davygray:        #555555;
$jet:             #333333;

// -----------------------------------------------------------------------------
// Customer Colors
// -----------------------------------------------------------------------------

// Add customer colors here

$carrot-orange:  #e56716;
$sky-blue:       #58b8d1;
$leaf-green:     #88b700;

// -----------------------------------------------------------------------------
// Typography colors
// -----------------------------------------------------------------------------

$text-color:              $black;
$text-selection-color:    $carrot-orange;

$headings-color:         inherit;

$link-color:        $carrot-orange;
$link-color-hover:  darken($link-color, 20%);

// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

$body-background: $white;

// -----------------------------------------------------------------------------
// Other colors
// -----------------------------------------------------------------------------

$unpublished-color: #fff4f4;
$preview-color:     #ffffea;
$current-revision:  #ffc;
