//
// Breakpoint definitions
// =============================================================================

// Device min-width breakpoints:
$breakpoint-xxs:  320px;
$breakpoint-xs:   480px;
$breakpoint-s:    640px;
$breakpoint-m:    950px;
$breakpoint-l:    1025px;
$breakpoint-xl:   1200px;
$breakpoint-xxl:  1400px;

// High-Resolution breakpoints:
// http://bjango.com/articles/min-device-pixel-ratio/
$breakpoint-high-resolution: min-resolution 1.3dppx;

// min- & max-device-pixel-ratio is currently not working with Breakpoint 2.0.6
// (The min- and max- prefix is allways missing)
// $breakpoint-min-device-pixel-ratio: 2.0dppx min-dpr;
// $breakpoint-max-device-pixel-ratio: 2.0dppx max-dpr;

// Orientation breakpoints:
$breakpoint-orientation-landscape: orientation landscape;
$breakpoint-orientation-portrait: orientation portrait;

$breakpoint-output = false;

@if $breakpont-output == true {
  //  Output the breakpoint config for use in JavaScript
  body:after {
    font-size: 0;
    height: 0;
    line-height: 0;
    color: transparent;
    position: absolute;
    content: "breakp";
    @include breakpoint($breakpoint-xxs) {
      content: "breakp-xxs";
    }
    @include breakpoint($breakpoint-xs) {
      content: "breakp-xxs breakp-xs";
    }
    @include breakpoint($breakpoint-s) {
      content: "breakp-xxs breakp-xs breakp-s";
    }
    @include breakpoint($breakpoint-m) {
      content: "breakp-xxs breakp-xs breakp-s breakp-m";
    }

    @include breakpoint($breakpoint-l) {
      content: "breakp-xxs breakp-xs breakp-s breakp-m breakp-l";
    }
    @include breakpoint($breakpoint-ad-l) {
      content: "breakp-xxs breakp-xs breakp-s breakp-m breakp-ad-l breakp-l";
    }
    @include breakpoint($breakpoint-xl) {
      content: "breakp-xxs breakp-xs breakp-s breakp-m breakp-ad-l breakp-l breakp-xl";
    }
    @include breakpoint($breakpoint-xxl) {
      content: "breakp-xxs breakp-xs breakp-s breakp-m breakp-ad-l breakp-l breakp-xl breakp-xxl";
    }
  }
}
