//
// Debug code
// =============================================================================

@if $debug {
/*******************************************************************************
     ____       _
    |  _ \  ___| |__  _   _  __ _
    | | | |/ _ \ '_ \| | | |/ _` |
    | |_| |  __/ |_) | |_| | (_| |
    |____/ \___|_.__/ \__,_|\__, |
                            |___/
*******************************************************************************/
}

// Breakpoint debug
@if $debug {
  html, body {
    &:before,
    &:after {
      display: block;
      position: fixed;
      top: 4em;
      z-index: 999999;
      width: 25%;

      @include box-sizing(border-box);
      @include border-radius(10px);
      @include single-box-shadow(rgba(0,0,0,0.3), 2px, 2px, 3px, false, false);

      font-size: 12px;
      color: $black;

      background-color: rgba(255,255,255,0.75);
      padding: 0.5em 1em;


    }
    &:before {
      left: 1em;
    }
    &:after {
      right: 1em;
      text-align: right;
    }
  }

  html {
    @include leader(1, 12px, 'padding');

    &:before {
      text-align: center;
      content: 'Breakpoint: none (Mobile-First)';
      width: 20em;
      left: 50%;
      margin-left: -10em;
    }

    @include breakpointDebug('$breakpoint-xxs', $breakpoint-xxs, 'before', true);
    @include breakpointDebug('$breakpoint-xs', $breakpoint-xs, 'before', true);
    @include breakpointDebug('$breakpoint-s', $breakpoint-s, 'before', true);
    @include breakpointDebug('$breakpoint-m', $breakpoint-m, 'before', true);
    @include breakpointDebug('$breakpoint-l', $breakpoint-l, 'before', true);
    @include breakpointDebug('$breakpoint-xl', $breakpoint-xl, 'before', true);
    @include breakpointDebug('$breakpoint-xxl', $breakpoint-xxl, 'before', true);
  }

  body {
    position: relative;
    @include leader(1, 12px, 'padding');

    &:before {
      content: 'Resolution: 1.0';
    }

    &:after {
      content: 'Orientation: unknown';
    }

    @include breakpointDebug('Resolution: High-res', $breakpoint-high-resolution, 'before');

    @include breakpointDebug('Orientation: Landscape', $breakpoint-orientation-landscape);
    @include breakpointDebug('Orientation: Portrait', $breakpoint-orientation-portrait);
  }
}
