//
// Layout - Import and config file for your page layout
// =============================================================================

/*******************************************************************************
     _                            _
    | |    __ _ _   _  ___  _   _| |_
    | |   / _` | | | |/ _ \| | | | __|
    | |__| (_| | |_| | (_) | |_| | |_
    |_____\__,_|\__, |\___/ \__,_|\__|
                |___/
*******************************************************************************/
@import 'layout.config';

@import 'simple-flexible';
@import 'layout.content';
