/*
// =============================================================================
// @file:
// basic elements for media (e.g. img and video)
// =============================================================================
*/
@import '../utilities/_utilities.p.css';
@import '../_config.p.css';

img,
video {
  display: inline-block;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/*
// Avoid line breaks within paragraphs
*/
p,
h1,h2,h3,h4,h5,h6 {
  img,
  video {
    display: inline-block;
  }
}
/*
// Figure image
*/

figure {
  > img {
    display: block;
  }
}
