//
// Layout mixins - Layout related mixins
// =============================================================================

// Cross-Browser justified grid.
// Inspired by http://code.jelmerdemaat.nl/2012/perfectly-justified-css-grid-technique-using-inline-block/
// Important note: All elements need at least one space character between their tags to make this working!
@mixin justifiedGrid($font-size: $base-font-size, $vertical-align: middle) {
  text-align: justify;

  @if $legacy-support-for-ie {
    -ms-text-justify: distribute-all-lines;
  }

  @if $legacy-support-for-ie7 {
    text-justify: distribute-all-lines;
  }

  font-size: 0;
  line-height: 0;

  > * {
    @include inline-block($vertical-align);

    font-size: $font-size;
    line-height: $font-size * ($base-line-height / $base-font-size);

    @if $legacy-support-for-ie7 {
      *text-align: left;
    }
  }

  &:after{
    content: '';
    width: 100%;
    display: inline-block;
  }
}

// Maintain a given aspect ratio.
// To get the expected result replace the colon in the aspect ratio with a slash.
// e.g. 16:9 will become 16/9
@mixin box-aspect-ratio($ratio: 2) {
  $gap: 100 / $ratio;
  width: 100%;
  height: 0;
  padding-bottom: #{$gap + "%"};
}

// Reset responsive element to normal behavior
@mixin reset-responsive-element() {
  height: initial;
  max-width: none;
}
