@import '../_config.p.css';

body {
  padding: 0;
  margin: 0;
  background: $body-background;
}

/*
// Use border-box for every element on the website
*/
* {
  @include box-sizing(inherit);
  &:after,
  &:before {
    @include box-sizing(inherit);
  }
}

body {
  @include box-sizing(border-box);
  cursor: default;
}


/*
// Tables
*/
table, tbody {
  border-top: 0;
}

table.borderless {
  border: 0;

  tbody, td {
    border: 0;
  }
}

.cke_editable table.borderless {
  border: 1px $silver dashed;

  td {
    border: 1px $silver dashed;
  }
}
