//
// Color definitions
// =============================================================================

// -----------------------------------------------------------------------------
// Basic colors
// -----------------------------------------------------------------------------

$black: #000;
$white: #fff;

// Shades of gray (not the book, just the colors)
// http://en.wikipedia.org/wiki/Shades_of_gray
$grays: #dcdcdc #d3d3d3 #c0c0c0 #bebebe #a9a9a9 #808080 #696969 #555 #343434;

$gainsboro:       #dcdcdc;
$lightgray:       #d3d3d3;
$silver:          #c0c0c0;
$mediumgray:      #bebebe;
$darkgray:        #a9a9a9;
$gray:            #808080;
$dimgray:         #696969;
$davygray:        #555;
$jet:             #333;

// -----------------------------------------------------------------------------
// Customer Colors
// -----------------------------------------------------------------------------

// Add customer colors here

$carrot-orange:  #e56716;
$sky-blue:       #58b8d1;
$leaf-green:     #88b700;

// -----------------------------------------------------------------------------
// Typography colors
// -----------------------------------------------------------------------------

$text-color:              $black;
$text-selection-color:    $carrot-orange;

$headings-color:         inherit;

$link-color:        $carrot-orange;
$link-color-hover:  darken($link-color, 20%);

// -----------------------------------------------------------------------------
// Backgrounds
// -----------------------------------------------------------------------------

$body-background: $white;

// -----------------------------------------------------------------------------
// Other colors
// -----------------------------------------------------------------------------

$unpublished-color: #fff4f4;
$preview-color:     #ffffea;
$current-revision:  #ffc;
