/*
//
// Helpers - Helping classes
// =============================================================================
*/

/*
// CSS image replacement
*/
.hide-text {
  @mixin hide-text;
}

/*
// Hide only visually, but have it available for screenreaders: h5bp.com/v
*/
.element-invisible,
.visuallyhidden {
  @mixin element-invisible;
}
/*
// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
*/
.element-invisible.focusable,
.visuallyhidden.focusable {
  @mixin element-invisible-focusable;
}

.element-visible {
  @mixin element-invisible-off;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

/*
// Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden;
}

.clearfix {
  @mixin clearfix;
}

.clear {
  clear: both;
}

.text-overflow {
  @mixin text-overflow;
}

.muted {
  opacity: .5;
}

.border-box {
  box-sizing: border-box;
}

.direction-ltr {
  direction: ltr;
}
.direction-rtl {
  direction: rtl;
}
