/*
//
// Mixins - Useful mixins to achieve several functionalities
// =============================================================================
*/

@import '_mixins.colors.p.css';
@import '_mixins.hiding.p.css';
@import '_mixins.layout.p.css';
@import '_mixins.shorthand.p.css';
@import '_mixins.debug.p.css';


/*
// Placeholder text
*/
@define-mixin placeholder $color: $placeholderText {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}
/*
// Text overflow
// Requires inline-block or block for proper styling
*/
@define-mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin tab-focus {
  /* Default*/
  outline: thin dotted #333;
  /* Webkit*/
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
