/*
//
// Mixins for debugging purposes
// =============================================================================
*/

@define-mixin region-debug $region-bg-color, $region-title {
  @if $debug {
    box-sizing: border-box;
    min-height: 150px;
    background: rgba($region-bg-color, 0.2);
    outline: 1px dashed $silver;
    margin: 10px 0;
    padding: 20px;
    position: relative;

    &:after {
      content: $region-title;
      font-size: 12px;
      position: absolute;
      top: 5px;
      left: 5px;
      color: $black;
    }
  }
}

@define-mixin breakpoint-debug $breakpoint-title, $breakpoint, $pseudo-element: 'after', $show-breakpoint-value: false {
  @if $debug {
    @media (min-width: $breakpoint) {
      &:$($pseudo-element) {
        @if $show-breakpoint-value {
          content: '$($breakpoint-title): $($breakpoint)';
        }
        @else {
          content: '$($breakpoint-title)';
        }
      }
    }
  }
}
