@define-mixin button-base {

  padding: 0.5em 2.5em;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  font-weight: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}

@define-mixin button-cta $foreground-color: #000, $background-color: transparent, $foreground-color-hover: #000, $background-color-hover: transparent, $border-width: 1px, $border-radius: 3px {

  border: $border-width solid $foreground-color;
  border-radius: $border-radius;
  color: $foreground-color;
  background-color: $background-color;

  &:hover {
    color: $foreground-color-hover;
    background-color: $background-color-hover;
  }
}

@define-mixin button-cta-primary $border-width: 1px {
  @mixin button-cta $white, $secondary-color, $white, $primary-color, 1px, 3px;
  border-color: $secondary-color;

  &:hover {
    border-color: $primary-color;
  }
}

@define-mixin button-cta-secondary $border-width: 1px {
  @mixin button-cta $white, $primary-color, $white, $secondary-color, 1px, 3px;
  border-color: $primary-color;

  &:hover {
    border-color: $secondary-color;
  }
}

@define-mixin button-cta-standard $border-width: 1px {
  @mixin button-cta $text-color, #fff, $text-color, $fbs-light-gray, 1px, 3px;
  border-color: $text-color;
}
