//
// Simple-Flexible - A really basic flexible layout
// =============================================================================

.page {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
