// =============================================================================
// @file:
// basic elements
// =============================================================================

// Responsive Image
//
// Markup:
// <img src="http://placehold.it/350x250" />
// Responsive Image:
// <div style="width: 150px"><img src="http://placehold.it/350x250" /></div>
//
// Styleguide 3.1.1

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.lt-ie9 img {
  width: auto; // IE8-Fix
}

// Figure image
//
// Markup:
// <figure><img src="http://placehold.it/250x250" /></figure>
//
// Styleguide 3.1.2
figure > img {
  display: block;
}
