// =============================================================================
// @file:
// basic elements for media (e.g. img and video)
// =============================================================================

// Responsive Image
//
// Markup:
// <img src="http://placehold.it/350x250" />
// Responsive Image:
// <div style="width: 150px"><img src="http://placehold.it/350x250" /></div>
//
// Styleguide 3.1.1

img,
video {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;

  .ie8 & {
    width: auto; // IE8-Fix
  }
}

// Figure image
//
// Markup:
// <figure><img src="http://placehold.it/250x250" /></figure>
//
// Styleguide 3.1.2
figure > img {
  display: block;
}
