@import '../_config.p.css';
@import '../utilities/_utilities.p.css';


input[type="submit"],
input[type="button"],
.button {
  @mixin button-base;
  @mixin button-cta-standard;

  &.disabled,
  &.disabled:hover {
    text-decoration: none;
    border-color: transparent;
    color: $text-color-light;
    background: $light-gray;
    cursor: not-allowed;
  }

  &.button--primary {
    @mixin button-cta-primary;
  }

  &.button--secondary {
    @mixin button-cta-secondary;
  }

  &.button--full {
    width: 100%;
    display: block;
  }
}

