@import '../_config.p.css';
@import '../utilities/_utilities.p.css';

@define-mixin button-cta-primary $border-width: 1px {
  @mixin button-cta $white, $secondary-color, $white, $primary-color, 1px, 3px;
  border-color: $secondary-color;

  &:hover {
    border-color: $primary-color;
  }
}

@define-mixin button-cta-secondary $border-width: 1px {
  @mixin button-cta $white, $primary-color, $white, $secondary-color, 1px, 3px;
  border-color: $primary-color;

  &:hover {
    border-color: $secondary-color;
  }
}

@define-mixin button-cta-standard $border-width: 1px {
  @mixin button-cta $text-color, #fff, $text-color, $fbs-light-gray, 1px, 3px;
  border-color: $text-color;
}

input[type="submit"],
input[type="button"],
.button {
  @mixin button-base;
  @mixin button-cta-standard;

  &.disabled,
  &.disabled:hover {
    text-decoration: none;
    border-color: transparent;
    color: $text-color-light;
    background: $light-gray;
    cursor: not-allowed;
  }

  &.button--primary {
    @mixin button-cta-primary;
  }

  &.button--secondary {
    @mixin button-cta-secondary;
  }

  &.button--full {
    width: 100%;
    display: block;
  }
}
