@import '../utilities/_utilities.p.css';
@import '../_config.p.css';

label {
  display: block;
}
.form-actions {
  display: flex;

  .button {
    &.form-submit {
      @mixin button-cta-primary;
    }

    &:not(.button--primary):not(.form-submit) {
      @mixin button-cta-secondary;
    }
  }

  .button + .button {
    margin-left: 1em;
  }
}

form {
  .container-inline {
    display: flex;
    justify-content: flex-start;

    label {
      display: block;
      &:after {
        content: '';
      }
    }

    > .form-wrapper {
      display: block;
      margin-right: 1em;
    }
  }
}

