//
// Node styles
// =============================================================================

.comments-wrapper {
  margin-top: 1em;
}
.indented {
  margin-left: 2em; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.comment-preview {
  background-color: #ffffea;
}
