/**
 * @file
 * Styles for system messages.
 */

.system-messages {
  @extend .clear;
}

.messages {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: $message-border-style;
  margin: 0.3em 0;
  padding: 0.7em 0.7em 0.7em 50px;

  @include border-radius($message-border-radius);

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    li {
      list-style-image: none;
    }
  }
}

// Status

.status {
  background-image: url(../../../../../misc/message-24-ok.png);
  border-color: $message-status-bordercolor;
  color: $message-status-color;
}

.ok {
  color: $message-status-color;
}

.status, table tr.ok {
  background-color: $message-status-bgcolor;
}

// Warning

.warning {
  background-image: url(../../../../../misc/message-24-warning.png);
  border-color: $message-warning-bordercolor;
  color: $message-warning-color;
}

.warning {
  color: $message-warning-color;
}

div.warning, table tr.warning {
  background-color: $message-warning-bgcolor;
}

// Error

div.error {
  background-image: url(../../../../../misc/message-24-error.png);
  border-color: $message-error-bordercolor;
  color: $message-error-color;
}

.error {
  color: $message-error-color;
}

div.error, table tr.error {
  background-color: $message-error-bgcolor;
}

div.error p.error {
  color: $jet;
}
