body{padding:0;margin:0;background:#fff}*{@include box-sizing(inherit)}*:after,*:before{@include box-sizing(inherit)}body{@include box-sizing(border-box);cursor:default}table,tbody{border-top:0}table.borderless{border:0}table.borderless tbody,table.borderless td{border:0}.cke_editable table.borderless{border:1px silver dashed}.cke_editable table.borderless td{border:1px silver dashed}